@model Millionaire.Models.History


    <QuestionBox>
        <h1>You Lost</h1>
        <h3>Try another time</h3>

        <tipButton class="form-group">
            @Html.ActionLink("History", "HistoryView", "Game", new History
            {
             CorrectAnswers = Model.CorrectAnswers,
             Money = 0,
             StartDate = DateTime.Now,
             ReturnGamePage = "",
             ReturnLostPage = "Back"
            })
        </tipButton>

        <hr />

        <tipButton>@Html.ActionLink("Return to home page", "Index", "Home")</tipButton>
    </QuestionBox>