@model Millionaire.Models.History
@{
    ViewData["Title"] = "TakeMoneyView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<QuestionBox>
    <h1>Congrats you won</h1>

    

    <emoji><img src="~/css/congrats.png" /></emoji>
    

    <tipButton>
        @Html.ActionLink("History", "HistoryView", "Game", new History
 {
     CorrectAnswers = Model.CorrectAnswers,
     Money = Model.Money,
     StartDate = Model.StartDate,
     ReturnGamePage = "",
     ReturnWonPage = "Back"
 })
    </tipButton>

    <hr />

    <tipButton>@Html.ActionLink("Return to home page", "Index", "Home")</tipButton>

</QuestionBox>