
@{
    ViewData["Title"] = "ThankYou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Thank You @ViewBag.name</h1>

<h2>Click <a href="@Url.Action("People")">here </a> to see all users</h2>



