@{
    ViewData["Title"] = "Home Page";
}

<head>
    <h1>Welcome to billionaire game!</h1>
    
</head>

<body>

    <div class="FormBox">

        <h5>Choose The Option</h5>

        <hr/>

        <div class="form-group">
            <a class="OptionButton" href="/Login">Management</a>
        </div>
        
        <div class="form-group">
            <a class="OptionButton" href="/Game/Game">Game</a>
        </div>

    </div>

</body>
