@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to billionaire game choose the option</h1>
<hr />
<hr />
<a href="/Login">Management</a>
<hr />
<div>
    <a href="/Game/Game">Game</a>
</div>


