<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateAirport</title>
</head>
<body>

    <h1>Contact</h1>

    <form action="@Url.Action("CreateAirportPost")" method="post">
        <div>
            <span>Name: </span>
            <input type="text" name="name" />    
        </div>

        <div>
            <span>City: </span>
            <input type="text" name="city" />
        </div>
        <div class="form-check">
            <input  type="checkbox" class="form-check-input" id="exampleCheck1" name="IsLowcost" value="true" />
            <label class="form-check-label" for="exampleCheck1">Lowcost</label>
        </div>

        <input type="submit"  value="Create airport" />
    </form>

</body>
</html>
