<h1>Hello from view!</h1>
<a href="@Url.Action("Airport")">See Airport view</a>


<a href="@Url.Action("CreateAirport")">Create a new airport</a>


<a href="@Url.Action("Airline")">See Airline view</a>


<a href="@Url.Action("CreateAirline")">Create a new airline</a>