@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout - Create.cshtml";
}
@model Practices.Models.AccountInfo

<h1>Account @{@Model.UserName} was created with</h1>
<h1>ID: @Model.ClientId</h1>


